{
  "root": true,
  "env": {
    "browser": true,
    "es2021": true,
    "node": true,
    "vue/setup-compiler-macros": true
  },
  "extends": [
    "plugin:vue/base",
    "plugin:vue/vue3-recommended",
    "eslint:recommended",
    "@vue/typescript/recommended",
    "prettier",
    "@vue/eslint-config-typescript/recommended",
    "@vue/eslint-config-prettier"
  ],
  "parserOptions": {
    "ecmaVersion": 2021,
    "parser": "@typescript-eslint/parser",
    "sourceType": "module"
  },
  "plugins": ["vue", "@typescript-eslint", "import", "node", "promise"],
  "ignorePatterns": ["components.d.ts", "node_modules/**/*", "*.config.{js,ts}"],
  "rules": {
    "vue/script-setup-uses-vars": "error",
    "@typescript-eslint/no-explicit-any": "off"
  }
}
